.main{
    padding: 3em 3em;
    min-height: 100vh;
}

.bg-main-custom{
    background-color: rgb(231, 227, 227);
}

.card-video{
    filter: drop-shadow(0 0 15px rgb(14, 14, 14));
    width: 432px;
    position: relative;
}

.spinner-custom{
    height: 90vh;
    background-color: rgb(231, 227, 227);
    font-size: 2em;
}

.custom-bg{
    background-color: rgb(159, 157, 157);
}

.custom-button-addVideo{
    height: 80px;
}

.button-custom{
    filter: drop-shadow(0 0 10px rgb(47, 47, 47));
}

.success-message{
    width: 100%;
    line-height: 50px;
    position: fixed;
    top: 20px;
    left: 0;
    background-color: rgb(49, 95, 2);
    filter: drop-shadow(0 0 10px rgb(15, 224, 15));
    color: white;
    font-size: 2em;
    text-align: center;

}
.NOT-success-message{
    width: 100%;
    line-height: 50px;
    position: fixed;
    top: 20px;
    left: 0;
    background-color: rgb(95, 2, 2);
    color: white;
    font-size: 2em;
    text-align: center;
    filter: drop-shadow(0 0 10px rgb(255, 89, 7));

}

.container-pagination{
    background-color: rgb(72, 69, 69);
}

.d-custom-addcomment{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.width-custom-button-addcomment{
    width: 25%;
}

@media screen and (max-width: 510px) {
    .card-video{
        width: 90%;
    }
    .main{
        padding: 1em 1em;
    }
}

@media screen and (max-width: 450px) {
    .card-video{
        height: 620px;
    }
    .d-custom-addcomment{
        flex-direction: column;
        font-size: 1.3em;
    }
    .width-custom-button-addcomment{
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .card-video{
        width: 98%;
        min-width: 220px;
    }
    .main{
        padding: 0.3em 0.3em;
    }
}

