.bg-custom{
    background-color: rgb(0, 0, 0);
}

.sidebar-left-custom{
    width: 300px !important;
    height: 700px;
    margin-top: 0px;
}

.h-custom{
    height: 60px;
}

.custom-filters{
    padding: 10px;
    background-color: grey;
}

.selected-custom{
    border: 2px solid red;
    background-color: blue;
}