.img-avatar-author{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.name-author{
    padding: 0.3em 0.5em;

}

.wrap-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

.img-comments{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
}

.comment{
    border-radius: 20px;
}

.custom-show-comments{
    position: absolute;
    bottom: 8px;
    left: 15px;
}

@media screen and (max-width: 500px){
    .modal-comments{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 350px){
    .modal-comments{
        font-size: 0.6em;
    }
}
  