.bg-custom{
    background-color: rgb(0, 0, 0);  
}

.bg-container{
    background-color: rgb(159, 157, 157);
}

.img-custom-users{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.container-popup-message{
    background-color: transparent;
}

.container-popup-message .message-popup{
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-height: 600px;
    width: 500px;
    overflow: scroll;
}



