.bt-l-custom{
    position: fixed;
    top: 130px;
    right: 10px;
    filter: drop-shadow(0 0 8px black);
    opacity: 0.3;
    transition: all 0.2s linear;

}
.bt-r-custom{
    position: fixed;
    top: 130px;
    left: 10px;
    filter: drop-shadow(0 0 8px black);
    opacity: 0.3;
    transition: all 0.2s linear;

}

.bt-search-custom{
    position: fixed;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 8px black);
    text-align: center;
    width: 150px;
    opacity: 0.3;
    transition: all 0.2s linear;
}

.bt-l-custom:hover, .bt-r-custom:hover, .bt-search-custom:hover{
    opacity: 1;
} 

@media screen and (max-width: 400px){
    .bt-l-custom{
        top: 100px;
    }
    .bt-r-custom{
        top: 100px;
    }
    
    .bt-search-custom{
        top: 100px;
    }
}
@media screen and (max-width: 350px){
    .bt-l-custom{
        top: 100px;
        left: 10px;
        right: 65%;
    }
    .bt-r-custom{
        top: 145px;
        left: 10px;
        right: 70%;
    }
    .bt-search-custom{
        left: 65%;
        width: 60%;
        top: 100px;
    }
}