.button-sidebar{
    position: fixed;
    top: 150px;
    left: 10px;
    filter: drop-shadow(0 0 5px rgb(52, 51, 51));
    width: 60px;
}

.bt-l-custom{
    position: fixed;
    top: 110px;
    right: 10px;
    filter: drop-shadow(0 0 8px black);
}
.bt-r-custom{
    position: fixed;
    top: 110px;
    left: 10px;
    filter: drop-shadow(0 0 8px black);
}