.success-message-put-user{
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    background-color: rgb(8, 57, 8);
    color: black;
    text-align: center;
    border: 20px double white;
    font-size: 1.5em;
}
.NOT-success-message-put-user{
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    background-color: rgb(67, 6, 6);
    color: black;
    text-align: center;
    border: 20px double white;
    font-size: 1.5em;
}

.spinner-container{
    height: 100vh;
    width: 100vw;
    
}
