.section{
    position: relative;
}

.nav{
    height: 80px;
}

.video{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 80px;
    object-fit: cover;
}

.filter-video{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 80px;
    background-color: rgba(0, 0, 0, 0.8);
}

.jumbotron{
    width: 70%;
    height: 300px;
    position: absolute;
    top: 80px;
    background-color: rgba(0, 0, 0, 0.703);
    padding: 2em;
    filter: drop-shadow(0 0 15px black);
}

.jumbotron-container{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 80px;
}

.main-landingpage{
    margin-top: 600px;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(17, 202, 240);
}

.images{
    height: 200px;
    margin: 30px 0;
}

.texts{
    margin-top: 100px;
}

.button-container-create{
    position: absolute;
    bottom: 30px;
}
.text-custom{
    font-size: 1.3em;
}

@media screen and (max-width: 800px) {
    .jumbotron {
        width: 85%;
    }
}
@media screen and (max-width: 550px) {
    .button-login-landing{
        font-size: 0.8em;
    } 
    .jumbotron {
        font-size: 0.7em;
        height: 250px;
    }
    .text-custom{
        font-size: 1em;
    }
}
@media screen and (max-width: 500px) {
    .images{
        width: 90%;
        object-fit: contain;
        margin: 10px;
    }
    h2{
        font-size: 1em;
    }
    .text-custom{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 420px) {
    .images{
        width: 100%;
        margin: 0;
    }
    .text-custom{
        font-size: 0.7em;
    }
    .button-login-landing{
        font-size: 0.6em;
        margin-right: -20px;
    }
    .logo{
        margin-left: -20px;
    }
}
