.body{
    height: 100vh;
    position: relative;
}

.bg-form-custom{
    background-color: rgba(0, 0, 0, 0.6);
}

.custom-login{
    width: 270px;
    margin-top: 30px;
    padding: 10px;
}

.z-index-custom{
    z-index: 100 !important;
}

.custom-login img{
    height: 40px;
    width: 40px;
    margin: 0 10px;
    border-radius: 50%;
}

.message-login{
    width: 100%;
    padding: 10px;
}

.message-alert-login{
    padding: 10px;
    margin-top: 15px;
    background-color: rgb(138, 27, 27);
    border-radius: 20px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

form{
    width: 400px;
}

@media screen and (max-width: 700px) {
    .custom-login{
        font-size: 0.8em;
        width: 200px;

    }

    form{
        margin: 10px;
    }
    
    .custom-login img{
        height: 30px;
        width: 30px;
        margin: 0;
    }
}


@media screen and (max-width: 500px) {
    form{
        width: 70%;
    }
    .jumbotron{
        height: auto !important;
    }
}


@media screen and (max-width: 400px) {
    form{
        width: 90%;
    }
}