.container-user-put{
    padding: 0 30px;
}

@media screen and (max-width:700px) {
    .form-user-put{
        margin: 0;
    }
}
@media screen and (max-width:500px) {
    .container-user-put{
        padding: 0 10px;
    }
    *{
        font-size: 0.97em;
    }
}