.container-user-put{
    padding: 0 30px;
}

.doc-size-custom{
    max-height: 400px;
    overflow: scroll;
}

.bg-user-custom{
    background-color: rgb(231, 227, 227);
}

@media screen and (max-width:700px) {
    .form-user-put{
        margin: 0;
    }
}
@media screen and (max-width:500px) {
    .container-user-put{
        padding: 0 10px;
    }
    *{
        font-size: 0.97em;
    }
}