.custom-background-navbar{
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(48, 44, 44) 100%); 
    color: rgb(144, 141, 141);
    padding: 1em;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    margin-right: 20px;
}