.custom-background-navbar{
    background: linear-gradient(to bottom,  rgba(17, 202, 240) 0%,rgba(231, 227, 227) 100%); 
    /* background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(48, 44, 44) 100%);  */
    color: rgb(144, 141, 141);
    padding: 1em;
}

#basic-nav-dropdown{
    color: white;
}

.border-custom-sidebar-right{
    border-bottom: 1px solid rgb(59, 57, 57);
}

.logo-navbar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(17, 202, 240);
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    margin-right: 20px;
}

.border-custom-navbar{
    border: 2px solid white;
    transition: all 0.1s linear;
    border-radius: 30px;
    color: white;
    z-index: 1000 !important;
}
.border-custom-navbar:hover{
    border: 2px solid rgb(17, 202, 240);
    border-radius: 30px;
    color: rgb(17, 202, 240);
    background-color: black;
}

.z-index-custom{
    z-index: 1000 !important;
}

.container-navbar{
    padding: 0 30px;
}

.button-logout-navbar{
    padding: 10px 60px !important;
}

@media screen and (max-width:450px) {
    .container-navbar{
        padding: 0;
    }
    .logo{
        margin-right: 0;
    }
    .button-logout-navbar{
        padding: 8px 20px !important;
    }
    .navbar-toggle{
        scale: 0.8;
    }
}
@media screen and (max-width:380px) {
    .container-navbar{
        padding: 0;
    }
    .logo{
        margin-right: 0;
    }
    .button-logout-navbar{
        padding: 5px 10px !important;
    }
}