.custom-background{
    /* background: linear-gradient(to top,  rgba(125,126,125,1) 0%,rgba(33, 37, 42) 100%);  */
    background: linear-gradient(to top,  rgba(17, 202, 240) 0%,rgba(231, 227, 227) 100%); 
    color: rgb(144, 141, 141);
}


@media screen and (max-width: 384px) {
    .logo-custom{
        margin-top: 2em !important;
    }
}
@media screen and (max-width: 237px) {
    .logo-custom{
        margin-top: 3.5em !important;
    }
}